/* Fondo general */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #daac06, #000428);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Contenedor del login */
.login-container {
  background-color: rgba(230, 227, 10, 0.1);
  padding: 2.5rem;
  border-radius: 15px;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 20px rgba(255, 217, 0, 0.736);
  width: 300px;
  text-align: center;
}

/* Encabezado */
.login-container h2 {
  margin-bottom: 1.5rem;
  color: #ffffff;
}

/* Grupos de entradas */
.input-group {
  margin-bottom: 1.2rem;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ffffff;
}

.input-group input {
  width: 100%;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  color: #cb9a12;
  font-size: 1rem;
}

/* Botón */
.btn {
  background-color: #ffd900;
  color: #fff;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #ffc813;
}

/* Enlace de regreso */
.volver {
  display: block;
  margin-top: 1rem;
  color: #ccc;
  text-decoration: none;
  font-size: 0.9rem;
}

.volver:hover {
  color: #fff;
  text-decoration: underline;
}
